*{
  font-family: 'Poppins', sans-serif;
}
/* I think I can delete this */ 
#jumbotron{
  background-image: url('./assets/images/shai-pal-6xoO8HfIrlE-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero_img_home{
  background-image: url('./assets/images/shai-pal-6xoO8HfIrlE-unsplash.jpg');
  min-height: 720px;
}

#hero_img_general{
  background-image: url('./assets/images/john-benitez-Cbv_EgKQDYQ-unsplash.jpg');
}

.hero_style{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

h1,
h2,
label{
  color: #282a2b;
}

p{
  color: #7c7c7c; 
}

#heading{
  font-size: 40px; 
  line-height: 1.1;
}

@media screen and (min-width: 960px){
  #heading{
    font-size: 80px; 
  }
}