@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

#hero_img_home{
  background-image: url('./assets/images/shai-pal-6xoO8HfIrlE-unsplash.jpg');
  min-height: 720px;
}

#hero_img_general{
  background-image: url('./assets/images/john-benitez-Cbv_EgKQDYQ-unsplash.jpg');
}

.hero_style{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}

h1,
h2,
label{
  color: #282a2b;
}

p{
  color: #7c7c7c; 
}

.navbar-brand{
  color: #08ABA1;
  font-size: 30px;
  letter-spacing: .5px;
}

.nav-link:hover{
  color: #08ABA1;
}

#heading{
  font-size: 40px; 
  line-height: 1.1;
}

@media screen and (min-width: 960px){
  #heading{
    font-size: 80px; 
  }
}